/* Colour variables ---------------------- */

$color: #333333;
$alt-color: #666666;
$background-color: #F8F8F8;
$heading-colour: $color;
$link-color: $color;
$link-color-hovered: #55cca0;
$code-color: #444444;
$blockquote-color: #6f6f6f;
$hr-color: #dddddd;


// Add custom colours and their respective classes here
$red: #E23C3C;
$green: #4dc084;
$blue: #108bbe;
$green: #55cca0;
$green-lighter: #4FCCA5;
$grey: #413D3B;
$grey-lighter: #666666;

.red, %red {
    color: $red;
}

.green, %green {
    color: $green;
}

.blue, %blue {
    color: $blue;
}