@import "_neat-helpers";

/* Base grid options *********************/
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 16;
$max-width: none;
$visual-grid-color: darken(#EFF7FB, 10%);
$visual-grid: false;
$full: new-breakpoint(max-width 1000px 16);
$medium: new-breakpoint(max-width 768px 16);
$small: new-breakpoint(max-width 480px 16);