/* Base type styles *********************/

$base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-weight: 300;

$alt-font: sans-serif;

a {
    color: $link-color;
}

h1, .h1, %h1,
h2, .h2, %h2,
h3, .h3, %h3,
h4, .h4, %h4,
h5, .h5, %h5,
h6, .h6, %h6 {
    font-family: $base-font;
    font-weight: bold;
    font-style: normal;
    color: $heading-colour;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin: 14px 0;
    &.small {
        font-size: 60%; line-height: inherit;
    }
}

h1,
.h1,
%h1 {
    @include font(4.4, 4.84);
}

h2,
.h2,
%h2 {
    @include font(3.7, 4.07);
}

h3,
.h3,
%h3 {
    @include font(2.7, 2.97);
}

h4,
.h4,
%h4 {
    @include font(2.3, 2.53);
}

h5,
.h5,
%h5 {
    @include font(1.7, 1.87);
}

h6,
.h6,
%h6 {
    @include font(1.4, 1.58);
}

p {
    margin-bottom: 17px; font-family: inherit; font-weight: normal;
}

hr {
    border: solid $hr-color;
    border-width: 1px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0;
}

em, i {
    font-style: italic;
    line-height: inherit;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}