<footer>
  <div class="wrapper row">
    
    <div class="column four">
      <h5>NAVIGATION</h5>
      <nav class="footer-nav">
        <ul class="footer-nav-main">
          <li><a href="#home">Home</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#directors">Directors</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="column four">
      <h5>LOCATION</h5>
      <ul>
        <li>48 Beak Street</li>
        <li>London</li>
        <li>W1F 9RL</li>
      </ul>
    </div>
    <div class="column four">
      <h5>CONTACT</h5>
      <ul>
        <li>Sam Matthews</li>
        <li>CEO</li>
        <li><a href="mailto:hello@neverbland.com">e: hello@neverbland.com</a></li>
      </ul>
    </div>
    <div class="newsletter column four">
      <h5>NEWSLETTER</h5>
      <form action="./" method="post">
        <input type="email" name="email" class="left column eleven">
        <input type="submit" value="submit" class="left column five">
      </form>
    </div>

  </div>
</footer>