<article class="gallery">
  {{#each items}}
    <div class="gallery-item" data-larger="{{this.larger}}" {{#if this.description}}data-description="{{this.description}}"{{/if}}>      
      <img src="{{this.image}}" alt="{{this.alt}}">
    </div>    
  {{/each}}
</article>