<header>
  <h1 class="logo">FilmCo.</h1>
  <nav class="header-menu">
    <ul class="header-menu-main">
      <li><a href="#work">WORK</a></li>
      <li><a href="#directors">DIRECTORS</a></li>
      <li><a href="#news">NEWS</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </nav>
</header>