<section>
  <div class="close"></div>
  <article>
    <figure>
      <div class="image" style="background-image:url('{{image}}')"></div>
      <figcaption>
        {{#if description}}
        <span>{{description}}</span>
        {{/if}}
      </figcaption>
    </figure>
  </article>
</section>