<div class="slider">
  <section class="slides-wrapper">
    <article class="slides row">
      {{#each slides}}
        <figure>
          <aside>
            {{#if title}}<h4>{{title}}</h4>{{/if}}
            {{#if sub}}<p>{{sub}}</p>{{/if}}
          </aside>
          <img src="{{image}}" alt="{{title}}">
          <figcaption>
            {{#if description}}
            <span>{{description}}</span>
            {{/if}}
          </figcaption>
        </figure>
      {{/each}}
    </article>
  </section>

  {{#if arrows}}
  <div class="arrow left"></div>
  <div class="arrow right"></div>
  {{/if}}
  
  {{#if counter}}
  <ol class="counter no-bullet">
   {{#each ../slides}}
   <li></li>
   {{/each}}
  </ol>
  {{/if}}

</div>