@mixin button($_color, $_hoverColor) {
  display: inline-block;
  padding: 10px;
  border: 1px solid $_color;
  @include font(1.2, 1.36);
  color: $_color;
  text-decoration: none;  
  cursor: default;

  &.disabled {
    border-color: $grey-lighter;
    color: $grey-lighter;
    opacity: 0.5;
  }

  &:hover:not(.disabled) {
    cursor: pointer;
    background: $_color;
    color: $_hoverColor;
  }

}

