footer {
  display: block;
  overflow: hidden;
  margin-top: 50px;
  padding: 30px;
  background: #F1F1F1;

  a,  span, p, li, input {
    font-size: 13px;
    color: #333333;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding:0;

    > li {
      @extend %no-bullet;
      margin: 2px 0;

      &:hover > a{          
        color: $link-color-hovered;
        border-bottom: 1px solid $link-color-hovered;
      }
    }
  }

  input {
    margin: 0;
    padding: 0 6px;
    box-sizing: border-box;
    border: none;
    line-height: 30px;
  }
  

  // Media queries  
  .wrapper {
    > div {
      @include media($medium) {
        @include span-columns(5);

        &.newsletter{
          @include span-columns(12);
        }
      }

      @include media($small) {
        @include span-columns(7);

        &:nth-child(2){
          float: right;
        }


        &:nth-child(3){
          @include span-columns(16);
        }

        &.newsletter{
          @include span-columns(16);
        }
      }

    }
  }

}

