.gallery {
  margin: 30px 0;
  @include row();

  > div {
    position: relative;
    float:left;
    width: percentage(1/3);
    display:block;
    overflow:hidden;
    cursor: pointer;
    // stops a white border
    transform: scale(1.01);

    > img {
      width: 100%;
      transition: 0.3s $ease-in-out-quart;
    }

    &:hover{
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(black, 0.6); 
      }
      > img {
        transition: 10s;
        transform: scale(2) rotate(20deg);
      }
    }


  }
}