.header {
  display: block;
  margin-bottom: 50px;
  overflow: hidden;
  background: white;
  text-align: center;

  > h1 {
    margin: 0 0 20px;
    padding: 50px;
    color: white;  
    background-color: $green;
  }

  > nav {
    padding:0 30px 8px;

    > ul {
      padding: 0;
      > li {        
        @extend %no-bullet;
        display: inline-block;
        font-size: 15px;
        margin: 0 7px;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;

        > a {
          text-decoration: none;          
        }

        &:hover > a{          
          color: $link-color-hovered;
          border-bottom: 1px solid $link-color-hovered;
        }
      }
    }
  }
}