.lightbox {
  z-index:100000;
  position: fixed;
  top:0px;
  bottom:0px;
  background: rgba($grey, 0.9);
  width:100%;
  height:100%;
  text-align: center;
  opacity:0;

  article {
    display: table;
    height: 100%;
    width: 100%;

    figure {
      display: table-cell;
      vertical-align: middle;
      box-sizing: border-box;
      padding: 120px 30px 80px;
    }
  }

  .close {
    @include button($green-lighter, white);
    position: absolute;    
    display: table;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 3px;
    padding: 0px;
    z-index: 5;
    top:-50px;
    right:-50px;


    &:after {
      content: 'X';
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      @include font(2, 2.17); 
      padding-top: 3px;
    }

    
  }

  .image {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    transform: translateY(-20%);
  }

  &.open{
    @include transition(0.5s $ease-in-out-quart); 
    opacity:1;


    .close { 
      @include transition(1s $ease-in-out-quart, 0.8s); 
      top: 30px;
      right:30px;
    }

    .image {      
      @include transition(1s $ease-in-out-quart, 0.5s); 
      transform: translateY(0%);
    }
  }

  &.close {
    opacity: 0;
    @include transition(1s $ease-in-out-quart); 

    .close { 
      @include transition(1s $ease-in-out-quart); 
      top: -50px;
      right: -50px;
    }

    .image {      
      @include transition(1s $ease-in-out-quart); 
      transform: translateY(30%);

    }
  }

}