.post {
  color: $alt-color;
  margin-bottom: 40px; 
  background: white;
  @include font(1.7);

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $alt-color;
  }

  h2, .h2 {
    @extend %h3;
  }
  
  > article {
    padding: 30px;

    > .article-extra {
      height: 0px;
      overflow: hidden;
    }
    
  }

  .button {
    @include button($green_lighter, white);
    width:100%;
    text-align: center;

    &:after{
      content: "READ MORE"
    }

    &.showing {
      @include button($blue, white);
      &:after {
        content: "SHOW LESS"      
      }
    } 
  }
}

