@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform( translateY(-50%) );
}

.slider {
  position: relative;
  > .slides-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    > .slides {
      width: 100%;    
      
      figure{
        position: absolute;
        float: left;
        display: inline-block;
        overflow: hidden;
        //Makes sure unused slides are behind everything else
        z-index:-99;
        width: 100%;
        margin: 0;
        top: 0%;
        left: 0%;
        opacity: 0;

        img{
          width:100%
        }

        &.next, &.previous, &.current {
          opacity: 1;
          z-index: 0;

          // Current goes on top; this is for a non animated slider
          &.current {
            z-index: 1;
          }
        }

        aside {
          position: absolute;
          top: 25px;
          left: 20px;
          
          h4, p {
            display: table;  
            box-sizing: border-box;
            background: $grey;
            color: white;
            padding: 10px;
            margin: 0;
          }

          p {
            @include font(1.2, 1.36);
          }
        }

        figcaption {
          position: absolute;
          width: 100%;
          background: $grey;
          bottom: 0px;
          left: 0px;
          color: white;

          span {
            padding:10px;
            box-sizing:border-box;
          }
        }
      }
    }
  }

  .arrow {
    @include vertical-align;
    @include button($green-lighter, white);
    position: absolute;
    display: table;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 3px;
    padding: 0px;
    margin: 0 30px;
    z-index: 5;

    &:after {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      font-family: 'Germania One', cursive;
      @include font(3.5, 3.67);
    }

    &.left {
      &:after {
        content: "<";
        left: -1px;
      }
    }

    &.right {
      right: 0px;

      &:after {
        content: ">";
        left: 1px;
      }
    }
  }

  .counter {
    position: absolute;
    width: 100%;
    padding:0; 
    text-align: center;
    list-style: none;
    cursor: default; 
    margin-top: 10px;

    li {
      display: inline-block;
      background: rgba(black, 0.5);
      width: 11px;
      height: 11px;
      margin: 0 3px;
      border-radius: 50%;
    
      &.active {
        background: $green;
      }

      &:hover:not(.active) {
        background: $grey;
        cursor: pointer;
      }
    }

  }

}
